@import url('https://fonts.googleapis.com/css?family=Amatic+SC|Indie+Flower|Open+Sans+Condensed:300|Quicksand|Raleway|Shadows+Into+Light|Slabo+27px');

.App {
  text-align: center;
}

/* .App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282C34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
} */

/* ----------- STYLING FOR NAVBAR ----------- */

nav.navbar {
  background-color: transparent;
  text-align: right;
}

a.nav-link {
  color: #684A52;
  font-family: 'Shadows Into Light';
  font-size: 3.4vw;
}

/* ----------- STYLING FOR PROJECTS ----------- */

img.proj-lang-logo {
  height: 40px;
  width: 40px;
  margin-right: 5px;
}

img.card-img-top {
  width: 100%;
  height: 20vw;
  object-fit: contain;
}

div.card-title {
  color: #7C9082;
  text-align: center;
  font-family: 'Amatic SC';
  font-weight: 500;
  font-size: 4.5vw;
}

div.card-subtitle {
  font-size: 1.5vw;
  font-family: 'Quicksand';
  color: #393D3F;
  text-align: center;
}

div.stack.row {
  align-self: center;
  margin-top: 10px;
}

div.links.row {
  align-self: center;
  margin-top: 10px;
}

div.card {
  border: none;
  margin-bottom: 5px;
  margin-top: 5px;
}

/* ----------- STYLING FOR ABOUT ME ----------- */

/* ABOUT ME INTRO */

div.about-me {
  text-align: center;
}

div.about-info.col {
  border: 0.5px dashed #393D3F;
  display: grid;
  align-items: center;
}

h1 {
  color: #7C9082;
  font-family: 'Amatic SC';
  font-size: 6vw;
}

div.about-info h5 {
  font-family: 'Quicksand';
  font-size: 2.5vw;
  color: #393D3F;
}

/* MAIN IMAGE */

div.main-img.col {
  overflow: auto;
  border: 0.5px dashed #393D3F;
}

img.main-img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 95%;
  height: auto;
  border-radius: 7%;
}

/* MY STACK INFO */

div.stack.row {
  margin-top: 10%;
}

div.stack-title.col-sm-3 {
  border: 0.5px dashed #393D3F;
}

div.stack-info.col {
  border: 0.5px dashed #393D3F;
}

/* LANGUAGE LOGOS ON ABOUT ME PAGE */

img.lang-logo {
  margin-right: 1.5%;
  width: auto;
}
